@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbo">
    <h1>Блог</h1>
    <p class="lead">Добре дошли в блога на магазина за канцеларски материали.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Повече за блога &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>За първи път сте тук ?</h2>
        <p>
            Необходимо е да се регистрирате, за да споделяте идеи и мнение относно продуктите.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Регистрирай се &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Вече сте регистриран ?</h2>
        <p>Използвайте същестуващата Ви регистрация.</p>
        <p><a class="btn btn-default" href="/Account/Login">Вход &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Искате да се върнете в магазина ?</h2>
        <p>Лесно и бързо можете да направите поръчка.</p>
        <p><a class="btn btn-default" href="http://localhost/basic_softUni/softUniTeamWork/web/index.php">Към магазина &raquo;</a></p>
    </div>
</div>